{% extends 'base.html.twig' %}

{% block title %}Restablece tu contrase침a{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="login-background">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info box-login">
                <div class="box-header with-border">
                    <h3 class="box-title">Restablece tu contrase침a</h3>
                </div>
                <div class="box-body">
                    <p>El token de recuperaci칩n es inv치lido o ha caducado. Vuelve a solicitarlo de nuevo.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}