{% extends 'mail/email/base.html.twig' %}

{% block body %}
    <h2 class="text-center">{{ subject }}</h2>
    <p>{% trans %}email.hello{% endtrans %} {{ emailUser }}</p>
    <p>{{ texto }}</p>
    <a href="{{ url('ui_restore_password', { 'token': token }) }}">Link</a>
    <p>{% trans %}email.regards{% endtrans %}</p>
    <p>{% trans %}email.team{% endtrans %}</p>
{% endblock %}


