{% extends 'base.html.twig' %}

{% block title %}Recupera tu contrase침a{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="login-background">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info box-login">
                <div class="box-header with-border">
                    <h3 class="box-title">Recupera tu contrase침a</h3>
                </div>
                <div class="box-body">
                    <p>Te hemos enviado un mensaje de correo electr칩nico con un enlace para restablecer la
                        contrase침a</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}